.toolbar-btn {
  height: 100%;
  margin: 0px 4px;
  max-width: 116px;
  vertical-align: middle;
}

.toolbar-btn i {
  width: 100%;
  display: block;
}

.toolbar-btn span {
  margin-left: 0px;
  width: 100%;
  display: block;
  margin-top: 5px;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.toolbar-btn-sm {
  height: 100%;
  margin: 0px 4px;
  max-width: 100px;
  vertical-align: middle;
}

.toolbar-btn-sm i {
  width: 100%;
  display: block;
}

.toolbar-btn-sm span {
  margin-left: 0px;
  width: 100%;
  display: block;
  margin-top: 5px;
  font-size: 11px;
  text-overflow: ellipsis;
  overflow: hidden;
}
