<vnpt-page>
    <vnpt-layout class="pb-11">
        <vnpt-main-content [title]="'Kết quả tìm kiếm'">
            <vnpt-tabset vAnimated="false">
                <vnpt-tab vTitle="Tất cả">
                    <div vnpt-typography class="mb-6">
                        Tìm kiếm được <span class="font-weight-bold">  54</span> kết quả
                    </div>
                    <div class="list-results">
                        <div class="item">
                            <div class="icon mr-3" >
                                <span vnpt-icon vSrc="/assets/quickmenu/google-docs.svg" [vSize]="'lg'"></span>
                            </div>
                            <div class="text-content">
                                <div class="title mb-2" vnpt-typography>1112/CV/BTTT - 13/12/2020 - <a href="#">   Chuyển Đổi Số</a> Doanh Nghiệp - Bảo mật - Hiệu quả</div>
                                <div class="desc mb-0" vnpt-typography vType="secondary"><a href="#">  Chuyển đổi số</a> là việc sử dụng các công nghệ số để thay đổi mô hình kinh doanh, tạo ra những cơ hội, doanh thu và giá trị
                                mới.</div>
                            </div>
                        </div>
                        <vnpt-divider></vnpt-divider>
                        <div class="item">
                            <div class="icon mr-3" >
                                <span vnpt-icon vSrc="/assets/quickmenu/suitcase.svg" [vSize]="'lg'"></span>
                            </div>
                            <div class="text-content">
                                <div class="title mb-2" vnpt-typography>1112/CV/BTTT - 13/12/2020 - <a href="#">   Chuyển Đổi Số</a> Doanh Nghiệp - Bảo mật - Hiệu quả</div>
                                <div class="desc mb-0" vnpt-typography vType="secondary"><a href="#">  Chuyển đổi số</a> là việc sử dụng các công nghệ số để thay đổi mô hình kinh doanh, tạo ra những cơ hội, doanh thu và giá trị
                                mới.</div>
                            </div>
                        </div>
                        <vnpt-divider></vnpt-divider>
                        <div class="item">
                            <div class="icon mr-3" >
                                <span vnpt-icon vSrc="/assets/quickmenu/calendar.svg" [vSize]="'lg'"></span>
                            </div>
                            <div class="text-content">
                                <div class="title mb-2" vnpt-typography>1112/CV/BTTT - 13/12/2020 - <a href="#">   Chuyển Đổi Số</a> Doanh Nghiệp - Bảo mật - Hiệu quả</div>
                                <div class="desc mb-0" vnpt-typography vType="secondary"><a href="#">  Chuyển đổi số</a> là việc sử dụng các công nghệ số để thay đổi mô hình kinh doanh, tạo ra những cơ hội, doanh thu và giá trị
                                mới.</div>
                            </div>
                        </div>
                        <vnpt-divider></vnpt-divider>
                        <div class="item">
                            <div class="icon mr-3" >
                                <span vnpt-icon vSrc="/assets/quickmenu/customer.svg" [vSize]="'lg'"></span>
                            </div>
                            <div class="text-content">
                                <div class="title mb-2" vnpt-typography>1112/CV/BTTT - 13/12/2020 - <a href="#">   Chuyển Đổi Số</a> Doanh Nghiệp - Bảo mật - Hiệu quả</div>
                                <div class="desc mb-0" vnpt-typography vType="secondary"><a href="#">  Chuyển đổi số</a> là việc sử dụng các công nghệ số để thay đổi mô hình kinh doanh, tạo ra những cơ hội, doanh thu và giá trị
                                mới.</div>
                            </div>
                        </div>
                        <vnpt-divider></vnpt-divider>
                        <div class="item">
                            <div class="icon mr-3" >
                                <span vnpt-icon vSrc="/assets/quickmenu/news.svg" [vSize]="'lg'"></span>
                            </div>
                            <div class="text-content">
                                <div class="title mb-2" vnpt-typography>1112/CV/BTTT - 13/12/2020 - <a href="#">   Chuyển Đổi Số</a> Doanh Nghiệp - Bảo mật - Hiệu quả</div>
                                <div class="desc mb-0" vnpt-typography vType="secondary"><a href="#">  Chuyển đổi số</a> là việc sử dụng các công nghệ số để thay đổi mô hình kinh doanh, tạo ra những cơ hội, doanh thu và giá trị
                                mới.</div>
                            </div>
                        </div>
                        <vnpt-divider></vnpt-divider>
                        <div class="item">
                            <div class="icon mr-3" >
                                <span vnpt-icon vSrc="/assets/quickmenu/news.svg" [vSize]="'lg'"></span>
                            </div>
                            <div class="text-content">
                                <div class="title mb-2" vnpt-typography>1112/CV/BTTT - 13/12/2020 - <a href="#">   Chuyển Đổi Số</a> Doanh Nghiệp - Bảo mật - Hiệu quả</div>
                                <div class="desc mb-0" vnpt-typography vType="secondary"><a href="#">  Chuyển đổi số</a> là việc sử dụng các công nghệ số để thay đổi mô hình kinh doanh, tạo ra những cơ hội, doanh thu và giá trị
                                mới.</div>
                            </div>
                        </div>
                        <vnpt-divider></vnpt-divider>
                    </div>
                    <vnpt-pagination [vPageIndex]="3" [vTotal]="500" vShowSizeChanger [vPageSize]="10"></vnpt-pagination>
                </vnpt-tab>
                <vnpt-tab vTitle="Văn bản">
                    <div vnpt-typography class="mb-6">
                        Tìm kiếm được <span class="font-weight-bold"> 54</span> kết quả
                    </div>
                    <div class="list-results">
                        <div class="item">
                            <div class="icon mr-3">
                                <span vnpt-icon vSrc="/assets/quickmenu/google-docs.svg" [vSize]="'lg'"></span>
                            </div>
                            <div class="text-content">
                                <div class="title mb-2" vnpt-typography>1112/CV/BTTT - 13/12/2020 - <a href="#"> Chuyển Đổi Số</a> Doanh Nghiệp - Bảo mật - Hiệu quả</div>
                                <div class="desc mb-0" vnpt-typography vType="secondary"><a href="#"> Chuyển đổi số</a> là việc sử dụng các công nghệ số để thay đổi mô hình kinh doanh, tạo ra những cơ hội, doanh thu và giá trị mới.</div>
                            </div>
                        </div>
                        <vnpt-divider></vnpt-divider>
                        <div class="item">
                            <div class="icon mr-3">
                                <span vnpt-icon vSrc="/assets/quickmenu/google-docs.svg" [vSize]="'lg'"></span>
                            </div>
                            <div class="text-content">
                                <div class="title mb-2" vnpt-typography>1112/CV/BTTT - 13/12/2020 - <a href="#"> Chuyển Đổi Số</a> Doanh Nghiệp - Bảo mật - Hiệu quả</div>
                                <div class="desc mb-0" vnpt-typography vType="secondary"><a href="#"> Chuyển đổi số</a> là việc sử dụng các công nghệ số để thay đổi mô hình kinh doanh, tạo ra những cơ hội, doanh thu và giá trị mới.</div>
                            </div>
                        </div>
                        <vnpt-divider></vnpt-divider>
                        <div class="item">
                            <div class="icon mr-3">
                                <span vnpt-icon vSrc="/assets/quickmenu/google-docs.svg" [vSize]="'lg'"></span>
                            </div>
                            <div class="text-content">
                                <div class="title mb-2" vnpt-typography>1112/CV/BTTT - 13/12/2020 - <a href="#"> Chuyển Đổi Số</a> Doanh Nghiệp - Bảo mật - Hiệu quả</div>
                                <div class="desc mb-0" vnpt-typography vType="secondary"><a href="#"> Chuyển đổi số</a> là việc sử dụng các công nghệ số để thay đổi mô hình kinh doanh, tạo ra những cơ hội, doanh thu và giá trị mới.</div>
                            </div>
                        </div>
                        <vnpt-divider></vnpt-divider>
                        <div class="item">
                            <div class="icon mr-3">
                                <span vnpt-icon vSrc="/assets/quickmenu/google-docs.svg" [vSize]="'lg'"></span>
                            </div>
                            <div class="text-content">
                                <div class="title mb-2" vnpt-typography>1112/CV/BTTT - 13/12/2020 - <a href="#"> Chuyển Đổi Số</a> Doanh Nghiệp - Bảo mật - Hiệu quả</div>
                                <div class="desc mb-0" vnpt-typography vType="secondary"><a href="#"> Chuyển đổi số</a> là việc sử dụng các công nghệ số để thay đổi mô hình kinh doanh, tạo ra những cơ hội, doanh thu và giá trị
                                    mới.</div>
                            </div>
                        </div>
                        <vnpt-divider></vnpt-divider>
                        <div class="item">
                            <div class="icon mr-3">
                                <span vnpt-icon vSrc="/assets/quickmenu/google-docs.svg" [vSize]="'lg'"></span>
                            </div>
                            <div class="text-content">
                                <div class="title mb-2" vnpt-typography>1112/CV/BTTT - 13/12/2020 - <a href="#"> Chuyển Đổi Số</a> Doanh Nghiệp - Bảo mật - Hiệu quả</div>
                                <div class="desc mb-0" vnpt-typography vType="secondary"><a href="#"> Chuyển đổi số</a> là việc sử dụng các công nghệ số để thay đổi mô hình kinh doanh, tạo ra những cơ hội, doanh thu và giá trị mới.</div>
                            </div>
                        </div>
                        <vnpt-divider></vnpt-divider>
                    </div>
                    <vnpt-pagination [vPageIndex]="3" [vTotal]="500" vShowSizeChanger [vPageSize]="10"></vnpt-pagination>
                </vnpt-tab>
                <vnpt-tab vTitle="Công việc">
                    <div vnpt-typography class="mb-6">
                        Tìm kiếm được <span class="font-weight-bold"> 54</span> kết quả
                    </div>
                    <div class="list-results">
                        <div class="item">
                            <div class="icon mr-3">
                                <span vnpt-icon vSrc="/assets/quickmenu/suitcase.svg" [vSize]="'lg'"></span>
                            </div>
                            <div class="text-content">
                                <div class="title mb-2" vnpt-typography>1112/CV/BTTT - 13/12/2020 - <a href="#"> Chuyển Đổi Số</a> Doanh Nghiệp - Bảo mật - Hiệu quả</div>
                                <div class="desc mb-0" vnpt-typography vType="secondary"><a href="#"> Chuyển đổi số</a> là việc sử dụng các công nghệ số để thay đổi mô hình kinh doanh, tạo ra những cơ hội, doanh thu và giá trị mới.</div>
                            </div>
                        </div>
                        <vnpt-divider></vnpt-divider>
                        <div class="item">
                            <div class="icon mr-3">
                                <span vnpt-icon vSrc="/assets/quickmenu/suitcase.svg" [vSize]="'lg'"></span>
                            </div>
                            <div class="text-content">
                                <div class="title mb-2" vnpt-typography>1112/CV/BTTT - 13/12/2020 - <a href="#"> Chuyển Đổi Số</a> Doanh Nghiệp - Bảo mật - Hiệu quả</div>
                                <div class="desc mb-0" vnpt-typography vType="secondary"><a href="#"> Chuyển đổi số</a> là việc sử dụng các công nghệ số để thay đổi mô hình kinh doanh, tạo ra những cơ hội, doanh thu và giá trị mới.</div>
                            </div>
                        </div>
                        <vnpt-divider></vnpt-divider>
                        <div class="item">
                            <div class="icon mr-3">
                                <span vnpt-icon vSrc="/assets/quickmenu/suitcase.svg" [vSize]="'lg'"></span>
                            </div>
                            <div class="text-content">
                                <div class="title mb-2" vnpt-typography>1112/CV/BTTT - 13/12/2020 - <a href="#"> Chuyển Đổi Số</a> Doanh Nghiệp - Bảo mật - Hiệu quả</div>
                                <div class="desc mb-0" vnpt-typography vType="secondary"><a href="#"> Chuyển đổi số</a> là việc sử dụng các công nghệ số để thay đổi mô hình kinh doanh, tạo ra những cơ hội, doanh thu và giá trị mới.</div>
                            </div>
                        </div>
                        <vnpt-divider></vnpt-divider>
                        <div class="item">
                            <div class="icon mr-3">
                                <span vnpt-icon vSrc="/assets/quickmenu/suitcase.svg" [vSize]="'lg'"></span>
                            </div>
                            <div class="text-content">
                                <div class="title mb-2" vnpt-typography>1112/CV/BTTT - 13/12/2020 - <a href="#"> Chuyển Đổi Số</a> Doanh Nghiệp - Bảo mật - Hiệu quả</div>
                                <div class="desc mb-0" vnpt-typography vType="secondary"><a href="#"> Chuyển đổi số</a> là việc sử dụng các công nghệ số để thay đổi mô hình kinh doanh, tạo ra những cơ hội, doanh thu và giá trị mới.</div>
                            </div>
                        </div>
                        <vnpt-divider></vnpt-divider>
                    </div>
                    <vnpt-pagination [vPageIndex]="3" [vTotal]="500" vShowSizeChanger [vPageSize]="10"></vnpt-pagination>
                </vnpt-tab>
                <vnpt-tab vTitle="Nhân sự">
                    <div vnpt-typography class="mb-6">
                        Tìm kiếm được <span class="font-weight-bold"> 54</span> kết quả
                    </div>
                    <div class="table-content">
                        <vnpt-table vTemplateMode>
                            <thead>
                                <tr>
                                    <th>Tên </th>
                                    <th>Chức danh  </th>
                                    <th>Điện thoại </th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="user">
                                            <vnpt-avatar vSize="24" vSrc="/assets/avatar-default.png"></vnpt-avatar>
                                            <div class="info">
                                                <span vnpt-typography>Phan Bích Chuyên</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Chuyên viên</td>
                                    <td>0915331234</td>
                                    <td>
                                        <a href="#">Phanbichha@gmail.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user">
                                            <vnpt-avatar vSize="24" vSrc="/assets/avatar-default.png"></vnpt-avatar>
                                            <div class="info">
                                                <span vnpt-typography>Phan Bích Chuyên</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Chuyên viên</td>
                                    <td>0915331234</td>
                                    <td>
                                        <a href="#">Phanbichha@gmail.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user">
                                            <vnpt-avatar vSize="24" vSrc="/assets/avatar-default.png"></vnpt-avatar>
                                            <div class="info">
                                                <span vnpt-typography>Phan Bích Chuyên</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Chuyên viên</td>
                                    <td>0915331234</td>
                                    <td>
                                        <a href="#">Phanbichha@gmail.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user">
                                            <vnpt-avatar vSize="24" vSrc="/assets/avatar-default.png"></vnpt-avatar>
                                            <div class="info">
                                                <span vnpt-typography>Phan Bích Chuyên</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Chuyên viên</td>
                                    <td>0915331234</td>
                                    <td>
                                        <a href="#">Phanbichha@gmail.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="user">
                                            <vnpt-avatar vSize="24" vSrc="/assets/avatar-default.png"></vnpt-avatar>
                                            <div class="info">
                                                <span vnpt-typography>Phan Bích Chuyên</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Chuyên viên</td>
                                    <td>0915331234</td>
                                    <td>
                                        <a href="#">Phanbichha@gmail.com</a>
                                    </td>
                                </tr>
                    
                            </tbody>
                        </vnpt-table>
                    </div>
                </vnpt-tab>
            </vnpt-tabset>
        </vnpt-main-content>
    </vnpt-layout>
</vnpt-page>
