<vnpt-page>
    <vnpt-layout class="pb-11">
        <vnpt-main-content [title]="'Nhân bản'">
            <vnpt-form-item class="info-row">
                <div class="key w120">
                    Tên sổ văn bản
                </div>
                <div class="value">
                    <vnpt-select vPlaceHolder="Chọn ">
                        <vnpt-option vValue="1" vLabel="Loại 1">
                        </vnpt-option>
                        <vnpt-option vValue="2" vLabel="Loại 2">
                        </vnpt-option>
                    </vnpt-select>
                </div>
            </vnpt-form-item>
            
            <div vnpt-row [vGutter]="{ xs: 8, sm: 16, md: 24, xxl: 32 }">
                <div vnpt-col [vXl]="12" [vMd]="24" [vXs]="24">
            
                    <vnpt-form-item class="info-row">
                        <div class="key w120">
                            Ngày áp dụng
                        </div>
                        <div class="value">
                            <vnpt-date-picker></vnpt-date-picker>
                        </div>
                    </vnpt-form-item>
                </div>
                <div vnpt-col [vXl]="12" [vMd]="24" [vXs]="24">
            
                    <vnpt-form-item class="info-row">
                        <div class="key w100">
                            Ngày đóng sổ
                        </div>
                        <div class="value">
                            <vnpt-date-picker></vnpt-date-picker>
                        </div>
                    </vnpt-form-item>
                </div>
            </div>
            
        </vnpt-main-content>
    </vnpt-layout>
</vnpt-page>
<bottom-bar>
    <div class="group-actions">
        <button class="btn m-1" vnpt-button vType="primary">THỰC HIỆN</button>
       
        <button class="btn m-1" vnpt-button vType="danger" vGhost>Đóng</button>
    </div>
</bottom-bar>