.toolbar-wrapper {
  background-color: #f5f5f5;
  z-index: 99;
  padding: 0px 30px;
  height: 66px;
  position: relative;
}

.toolbar-wrapper.collapse {
  height: 50px;
}

:host ::ng-deep .oneui-divider-vertical {
  height: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

.toolbar-btn-collapse {
  position: absolute;
  right: 10px;
  bottom: 2px;
}

:host ::ng-deep .toolbar-wrapper.collapse .oneui-divider-vertical {
  height: 24px;
  margin-top: 3px;
  margin-left: 8px;
  margin-right: 8px;
}

.toolbar-more-btn {
  text-align: center;
  height: 100%;
  width: 40px;
  vertical-align: middle;
  padding-left: 18px;
}
