<ul vnpt-menu vMode="inline">
    <li vnpt-submenu vOpen>
        
        <a href="#" title>
            <i vnpt-icon vSrc="assets/icons/icon7.png" [vSize]="'xs'"></i>
            <span>Văn bản</span>
        </a>
        <ul class="menu-child-level2">
            <li vnpt-submenu>
                <a href="#" title>
                    <span>Quản lý văn bản đi</span>
                </a>
                <ul class="menu-child-level3">
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Quản lý văn bản đi</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi chờ xử lý</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi chờ phát hành</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Toàn bộ văn bản đi</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi đã xử lý</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi trong ngày</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi đã ban hành</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li vnpt-submenu>
                <a href="#" title>
                    <span>Quản lý văn bản đến</span>
                </a>
                <ul class="menu-child-level3">
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Quản lý văn bản đi</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi chờ xử lý</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi chờ phát hành</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Toàn bộ văn bản đi</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi đã xử lý</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi trong ngày</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi đã ban hành</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li vnpt-submenu>
                <a href="#" title>
                    <span>Văn bản đến</span>
                </a>
                <ul class="menu-child-level3">
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Quản lý văn bản đi</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi chờ xử lý</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi chờ phát hành</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Toàn bộ văn bản đi</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi đã xử lý</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi trong ngày</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi đã ban hành</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li vnpt-submenu>
                <a href="#" title>
                    <span>Văn bản thu hồi</span>
                </a>
                <ul class="menu-child-level3">
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Quản lý văn bản đi</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi chờ xử lý</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi chờ phát hành</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Toàn bộ văn bản đi</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi đã xử lý</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi trong ngày</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi đã ban hành</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li vnpt-submenu>
                <a href="#" title>
                    <span>Văn bản trả lại</span>
                </a>
                <ul class="menu-child-level3">
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Quản lý văn bản đi</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi chờ xử lý</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi chờ phát hành</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Toàn bộ văn bản đi</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi đã xử lý</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi trong ngày</span>
                        </a>
                    </li>
                    <li vnpt-menu-item>
                        <a href="#" title>
                            <span>Văn bản đi đã ban hành</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li vnpt-menu-item>
        
        <a href="#" title>
            <i vnpt-icon vSrc="assets/icons/icon4.png" [vSize]="'xs'"></i>
            <span>Quản lý hồ sơ</span>
        </a>
    </li>
    <li vnpt-menu-item>
        
        <a href="#" title>
            <i vnpt-icon vSrc="assets/icons/icon1.png" [vSize]="'xs'"></i>
            <span>Tài liệu điện tử</span>
        </a>
    </li>
    <li vnpt-menu-item>
        
        <a href="#" title>
            <i vnpt-icon vSrc="assets/icons/icon6.png" [vSize]="'xs'"></i>
            <span>Hồ sơ công việc</span>
        </a>
    </li>
    <li vnpt-menu-item>
        
        <a href="#" title>
            <i vnpt-icon vSrc="assets/icons/icon5.png" [vSize]="'xs'"></i>
            <span>Quản lý công việc</span>
        </a>
    </li>
    <li vnpt-menu-item>
        
        <a href="#" title>
            <i vnpt-icon vSrc="assets/icons/icon3.png" [vSize]="'xs'"></i>
            <span>Quản lý đăng ký xe</span>
        </a>
    </li>
    <li vnpt-menu-item>
        
        <a href="#" title>
            <i vnpt-icon vSrc="assets/icons/icon2.png" [vSize]="'xs'"></i>
            <span>Giao ban tháng</span>
        </a>
    </li>
</ul>